img{
    border-radius: 25px;
    height: 11vh;
    margin-right: 1vw;
}
.jumbotron img.img-fluid {
    max-width: 100%;
    height: 30vh; 
}
.img-fluid-1{
    height: 20vh;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
